<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'mov:grupMoviment_edit' obj.pk %}" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'mov:grupMoviment_new' %}" >
        {% endif %}
        {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-info shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
		                            {% if obj %} Editar {% else %} Nou {% endif %} grup de moviment
		                        </div>
		                        <div class="dropdown-divider"></div>
		                        <div class="row">
		                         
		                            <div class="col-10">
		                                <div class="input-group">
		                                    <input type="text" name="descripcio" maxlength="100" class="form-control"
		                                        required id="id_descripcio" placeholder="Descripció" value="{% if obj %}{{ obj.descripcio}}{% endif %}">
		                                </div>
		                            </div>
		                            
		                            <div class="col-6">
		                                <div class="input-group">
		                                    <input type="text" name="color"  class="form-control color" maxlength="7"
		                                        required id="id_color" placeholder="Color" value="{% if obj %}{{ obj.color}}{% endif %}">
		                                </div>
		                            </div>
		                            
		                         
		                            <div class="col-2">
		                                <div class="input-group">
		                                    <label for="id_estado">Estat</label>
		                                    <input type="checkbox" name="estat" id="id_estat" class="form-control"
		                                       {% if obj %} 
		                                       {% if obj.estat %} checked  {% endif %} 
		                                       {% else %} checked   {% endif %}>
		                                </div>
		
		                          
		                            </div>
		                        </div>
		                        <div class="dropdown-divider"></div>
		                        <div class="row">
		                            <div class="col">
		                                <button type="submit" class="btn btn-danger">
		                                    <span class="fa fa-save"></span> Salvar </button>
		                                <a href="{% url 'mov:grupMoviment_list' %}" class="btn btn-success"><span  class="fa fa-undo"> Cancel·lar</span> </a>
		                                
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</form>
	</div>
</div>

<script>
$(function() {

    var url = $("form").attr("action");
    var token = jQuery("[name=csrfmiddlewaretoken]").val();

    $("form").submit(function(e){
        e.preventDefault();
        // alert(token);
        var formData = $("form").serializeArray();
        // console.log(formData);
        $.ajax({
            url:url,
            method:"POST",
            headers: {'X-CSRFToken': token },
            data: formData
        })
        .done(function(r,textStatus,xhr){
            if(xhr.status=200){
                location.reload(true);
            }
            else{
				mensaje(textStatus);
            }
        }).fail(function (error) {
        	mensaje(error.responseText, 'error');
        });
    });
});

$('.color').colorPicker({
    cssAddon: '.cp-color-picker {z-index: 1000000;}',
    renderCallback: function($elm, toggled) {
        $elm.val('#' + this.color.colors.HEX);
    }
}); 
</script>